@import '../../variables';

.nav {
  position: absolute;
  top: 46px;
  z-index: 1000;
  padding-left: 65px;
  font-family: 'Ghastly Panic', sans-serif;
  font-size: 72px;
  color: $primary-color;
  letter-spacing: 10px;
  text-shadow: 5px 5px 10px $secondary-color-text;
}