.editor-container {
  border: 1px solid rgba(255,255,255,0.23);
  border-radius: 4px;
  margin-bottom: 30px;
  .editor-text-container {
    padding: 10px;
    & > :first-of-type > :first-of-type:not(hr) {
      margin-top: 0;
    }
    overflow-y: scroll;
    max-height: 500px;
  }
}