@import '../../variables';

.card {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .background {
    height: 100%;
    width: 100%;
    transition: $base-transition;
  }
  .title-section {
    position: absolute;
    bottom: 0;
    padding: 50px 45px 45px 65px;
    max-width: 600px;
    .ratings {
      display: flex;
      .rating-lg, .rating-med, .rating-sm {
        padding: 0 10px;
        margin-right: 5px;
        border-radius: 30px;
        background-color: $primary-color;
      }
      .rating-lg {
        margin-bottom: 10px;
      }
    }
    .title-lg, .title-med, .title-sm {
      margin: 10px 0;
    }
    .description {
      font-size: 16px;
      line-height: 32px;
    }
  }
  &:hover {
    .background {
      transform: scale(1.1);
      opacity: .5;
    }
  }
  .description {
    margin-bottom: 15px;
  }
}