.header {
  margin-bottom: 30px;
  text-align: center;
}

.subheader {
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  & > div, button {
    margin-bottom: 30px;
  }
}