.footer-container {
  position: static !important;
  background: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  margin-top: 120px !important;
  .logo {
    position: static !important;
    margin-bottom: 30px !important;
    &:hover {
      cursor: pointer !important;
    }
  }
  .copyright {
    padding: 20px 0 !important;
  }
}