.logo {
  position: static !important;
  width: auto !important;
  &:hover {
    cursor: pointer !important;
  }
}

.hero-nav {
  position: absolute !important;
  background: transparent !important;
  box-shadow: none !important;
  .logo {
    width: 150px !important;
    margin: 16px !important;
  }
}

.main-nav-, .main-nav-small, .main-nav-sticky {
  flex-direction: row !important;
  align-items: center !important;
  left: 0 !important;
  background-image: none !important;
  background-color: #0D090A !important;
  margin: auto !important;
  .main-nav-container {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
    margin: 0 7.5px !important;
    .logo {
      height: 50px !important;
      margin: 10px 0 !important;
    }
  }
}

.large-nav {
  position: static !important;
  align-items: center !important;
  background: transparent !important;
  box-shadow: none !important;
  margin-bottom: 10px !important;
  .large-nav-logo-container {
    display: flex !important;
    align-items: center !important;
    margin-left: -200px !important;
    .logo {
      height: 200px !important;
      margin: 16px 16px 16px 32px !important;
    }
  }
  .large-nav-container {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
}

.nav-drawer {
  width: 100% !important;
  .drawer-logo-container {
    display: flex !important;
    justify-content: space-between !important;
    margin: 10px !important;
    .logo {
      height: 50px !important;
    }
  }
  .drawer-social-container {
    display: flex !important;
    justify-content: center !important;
    position: absolute !important;
    bottom: 0 !important;
    margin-bottom: 20px !important;
    width: 100% !important;
  }
}

.site-search-backdrop {
  z-index: 1999 !important;
  background-color: rgba(0,0,0,.9) !important;
}
.site-search-close-icon {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: 20px !important;
  z-index: 2000 !important;
  &:hover {
    cursor: pointer !important;
  }
}
.site-search-input {
  font-size: 32px !important;
  & > div {
    font-size: inherit !important;
  }
}


@media only screen and (max-width: 599px) {
  .nav-drawer > div:nth-of-type(3) {
    width: 100% !important;
  }
};

@media only screen and (min-width: 600px) {
  .nav-drawer > div:nth-of-type(3) {
    width: 370px !important;
  }
};

@media only screen and (max-width: 899px) {
  .main-nav-small {
    display: flex  !important;
  }
  .main-nav- {
    display: none !important;
  }
  .large-nav {
    display: none !important;
  }
};

@media only screen and (min-width: 900px) {
  .main-nav-small {
    display: none !important;
  }
  .main-nav- {
    display: flex !important;
  }
  .large-nav {
    display: flex !important;
  }
};

@media (min-width: 1200px) {
  .main-nav-, .main-nav-small, .main-nav-sticky {
    max-width: 1200px !important;
  }
}