.logo {
  font-size: 48px;
  letter-spacing: 5px;
  color: #E91E63;
  line-height: 1;
  margin: 16px;
}

.small-nav {
  background-image: none;
  background-color: #0D090A;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  left: 0;
}

.small-logo {
  font-size: 30px;
  letter-spacing: 5px;
  color: #E91E63;
  line-height: 1;
  margin: 10px 32px 10px 16px;
}

.large-logo {
  font-size: 96px;
  letter-spacing: 5px;
  color: #E91E63;
  text-align: center;
}

.footer-logo {
  width: 50%;
}

@media (min-width: 1200px) {
  .small-nav {
    width: 1200px;
  }
}