@font-face {
  font-family: 'Ghastly Panic';
  src: url('../../../assets/fonts/GhastlyPanic/Ghastly_Panic.ttf');
}

.logo {
  font-family: 'Ghastly Panic', sans-serif;
  font-size: 48px;
  letter-spacing: 5px;
  color: #E91E63;
}

.large-logo {
  font-family: 'Ghastly Panic', sans-serif;
  font-size: 96px;
  letter-spacing: 5px;
  color: #E91E63;
  text-align: center;
}

.footer-logo {
  width: 50%;
}